@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext');

/*Стили для всей страницы*/
body{
	color:#494949;
	background: #dbdcdd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
}

/*Стили для поля ввода*/
#inputMessage {
	width: 720px;
	margin: auto;
	margin-top: 15px;
}

#inputMessage textarea{
	border:1px solid #ccc;
	width: 700px;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	outline: none;
	resize:none;
}

#inputMessage input{
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	border:none;
	background: #2b5884;
	outline: none;
}

#inputMessage input:hover{
	cursor: pointer;
	background:#366ca0;
}


/*Стили для окна с сообщениями*/
#showMessage{
	background:#fff;
	border:1px solid #ccc;
	width: 700px;
	border-radius: 5px;
	padding: 10px;
	margin:auto;
	margin-top: 50px;
}

